<h1>
  ToDo List
</h1>


<table class="table">
  <thead>
    <tr>
      <th>UserId</th>
      <th>ID</th>
      <th>Title</th>
      <th>Completed</th>
      <th>
        Details
      </th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoResponse">
      <td>{{todo.userId}}</td>
      <td>{{todo.id}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.completed}}</td>
      <td>
        <button type="button" [routerLink]="[todo.id]" mat-raised-button color="primary">
          Details
        </button>
      </td>
      <td>
        <button type="button" (click)="editTask(todo)" mat-raised-button color="primary">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>